<div class="main">
  <wrap class="link-button">
    <%= link_to("すべて既読にする", "/feed/all_read") %>
    <%= link_to("更新", "/feed/update") %>
  </wrap>

  <div class="container_wide">
    <h1>ページ一覧</h1>
    <table>
      <tr>
        <th>日付</th>
        <th>リンク</th>
        <th>操作</th>
      </tr>

      <% @feeds.each do |feed| %>
        <tr>
          <td>
            <%= feed.pub_date %>
          </td>

          <td>

            <%= link_to(feed.title, feed.link, target: "_blank") %>
          </td>

          <td>
            <wrap class="">
              <%= link_to("既読", "/feed/read/#{feed.id}") %>
            </wrap>
            <wrap class="link-button">
              <%= link_to("保存", "/feed/save/#{feed.id}") %>
            </wrap>
            <wrap class="link-button">
              <%= link_to("削除", "/feed/destroy/#{feed.id}") %>
            </wrap>
          </td>
        </tr>
      <% end %>
    </table>
  </div>

</div>