<div class="main">

  <div class="container_wide">
    <h1>ページ一覧</h1>
    <table>
      <tr>
        <th>日付</th>
        <th>リンク</th>
        <th>操作</th>
      </tr>

      <% @feeds.each do |feed| %>
        <tr>
          <td>
            <%= feed.pub_date %>
          </td>

          <td>

            <%= link_to(feed.title, feed.link) %>
          </td>

          <td>
            <wrap class="">
              <%= link_to("詳細", "/feed/show/#{feed.id}") %>
            </wrap>
            <wrap class="link-button">
              <%= link_to("編集", "/feed/edit/#{feed.id}") %>
            </wrap>
            <wrap class="link-button">
              <%= link_to("削除", "/feed/destroy/#{feed.id}") %>
            </wrap>
          </td>
        </tr>
      <% end %>
    </table>
  </div>

  <wrap class="link-button">
    <%= link_to("更新", "/feed/update") %>
  </wrap>


</div>